.InnoBannerImage>img {
    max-width: 100%;
    object-fit: cover;
}
.InnoBodyBg {
    position: absolute;
    top: 45%;
    transform: translateY(-45%);
    /* width: 45%; */
    z-index: 5;
}
.InnoBannerText {   
    width: 65%;
    position: relative;
    top: 100px;   
}
.InnoBannerText>div.largeText {
    font-size: 53px;
    line-height: 60px;
    color: #4dc1b9; 
}
.InnoBannerText>div.smallText {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin-top: 15px;
}