/********** Template CSS **********/
:root {
    --primary: #2AABB3;
    --secondary: #FBA504;
    --light: #F6F4F9;
    --dark: #04000B;
}
body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif; */
      font-family: 'Exo-Regular';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    background: #fff;
  }
  html {
    font-family: 'Exo-Regular';
    font-size: 14px;
  }
  * {
    font-family: 'Exo-Regular !important';
  }

  @font-face {
    font-family: 'Exo-Regular';
    src: url('./fonts/Exo-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
  }


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 700;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 600;
}

h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.btn-square {
    width: 38px;
    height: 38px;
}


/* ------------ Our Customer Start ------------- */
.InnovacxCustHeadingWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.InnovacxHeadingLines {
    width: 70px;
    height: 2px;
    background: #006AA5;
}
.InnovacxHeading {
    margin-left: 20px;
    margin-right: 20px;
    color: #006AA5;
}
.InnovacxHeading > h1{
    color: #006AA5;
}
.InnovacxTagLine>h3 {
    font-size: 30px;
    color: #2AABB3;
    margin-top: 10px;
    margin-bottom: 10px;
}
.InnovacxTagLine p {
    font-size: 17px;
}
.InnovacxTagLine {
    width: 60%;
    text-align: center;
    margin: 0px auto;
}
.carousel-inner {
    position: relative;
    /* width: 35%; */
    overflow: hidden;
    display: flex;
    align-items: center;
    /* margin: 0px auto; */
    height: 200px;
    margin-bottom: 10%;
    padding: 30px 120px;
}
.carousel-item {
    padding: 30px;
}
.carousel-item-next:not(.carousel-item-start), .active.carousel-item-end, 
.carousel-item-prev:not(.carousel-item-end), .active.carousel-item-start {
    transform: translateX(145%);
}
.carousel-control-prev-icon {
    background-image: url('../images/carsouel_prev.svg');
}
.carousel-control-next-icon {
    background-image: url('../images/carsouel_next.svg');
}
.carousel-control-next {
    right: -80px;
    top: -75px;
}
.carousel-control-prev {
    left: -80px;
    top: -75px;
}
.carousel {
    position: relative;
    width: 50%;
    margin: 0px auto;
}
.carosuelContent {
    margin: 0px auto;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
.InnoBtnPrimary {
    background: #2AABB3;
    border-radius: 35px;
    color: #fff;
    padding: 15px 60px;
}


.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-indicators {
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
}
#custCarousel .carousel-indicators {
  position: static;
  margin-top:20px;
}

#custCarousel .carousel-indicators > li {
    /* width:100px; */
    width: 25%;
    /* height: 63px; */
    flex: 0 0 auto;
    max-height: 45px;
    position: relative;
    left: 565px;
}

#custCarousel .carousel-indicators li:not(:last-child) img {
    display: block;
    opacity: 0.5;
    height: 45px;
    padding: 0px 30px 0 0;
    border-right: 1px solid #231f20;
    width: auto;
}

#custCarousel .carousel-indicators li.active img {
  opacity: 1;
}

#custCarousel .carousel-indicators li:hover img {
  opacity: 0.75;
}

.carousel-item img {
  width:80% !important;
}
.InnoCarsouelWrap {
    margin-bottom: 100px;
}
/* ------------ Our Customer End ------------- */


/*-------------- Team Innovacx Start Here ------*/
.modal {
	position: fixed !important;
}

.h2-TeamInnovacx {
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	color: #1C3D52;
}

.p-TeamInnovacx {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 147.52%;
	text-align: center;
	color: #6A6A6A;
}

.p-Readmore {
	background: none;
	font-weight: 700;
	margin: 5px 9px 0;
	color: #006AA5;
	font-size: 12px;
	border: 0;
	text-decoration: underline;
}

.flex-center {
	justify-content: center;
}

.u-spacing-10.u-price-wrapper>div+div,
.u-spacing-10 .u-social-url+.u-social-url {
	margin-left: 10px;
}

.u-image {
	object-fit: cover;
	display: block;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.u-text .u-image {
	display: inline-block;
}

.u-image-circle.u-image {
	border-radius: 50% !important;
}

.u-sheet {
	position: relative;
	width: 1140px;
	margin: 0 auto;
}

@media (min-width: 1200px) {
	.u-sheet {
		width: 1140px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.u-sheet {
		width: 940px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.u-sheet {
		width: 720px;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	.u-sheet {
		width: 540px;
	}
}

@media (max-width: 575px) {
	.u-sheet {
		width: 340px;
	}
}

.u-sheet .u-sheet {
	width: 100%;
}

.u-container-layout {
	position: relative;
	flex: 1;
	max-width: 100%;
}

@media (min-width: 576px) and (max-width: 767px) {
	.u-expanded-width-sm {
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

@media (max-width: 575px) {
	.u-expanded-width-xs {
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

.u-icon {
	display: block;
	line-height: 0;
	border-width: 0px;
}

.u-svg-link {
	width: 100%;
	height: 100%;
	fill: currentColor;
}

.u-svg-content {
	width: 0;
	height: 0;
}

.u-icon-circle,
.u-icon-circle img {
	border-radius: 50%;
}

.u-body {
	font-size: 1rem;
	line-height: 1.6;
}

.u-align-center {
	text-align: center;
}

.u-social-icons {
	display: flex;
}

.u-social-url {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-transform: inherit;
	font-style: inherit;
	font-weight: inherit;
	text-decoration: none;
	border: 0 none transparent;
	outline-width: 0;
	background-color: transparent;
	margin: 0;
	-webkit-text-decoration-skip: objects;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.u-social-icons .u-icon {
	display: flex;
	height: 100% !important;
}

.u-social-icons .u-social-url,
.u-social-icons .u-social-url:hover {
	color: currentColor;
}

.u-social-icons a {
	height: 100%;
	display: inline-block;
	flex: 1;
}

.u-repeater {
	display: grid;
	grid-template-columns: repeat(3, 33.33333333%);
}

.u-repeater-item {
	display: flex;
	position: relative;
}

.u-palette-1-light-2,
.u-body.u-palette-1-light-2,
.u-container-style.u-palette-1-light-2:before {
	color: #111111;
	background-color: rgba(122, 189, 193, 0.3);
}

.u-section-2 .u-list-1 {
	width: 1140px;
	margin: 95px auto 39px;
}

.u-section-2 .u-repeater-1 {
	grid-template-columns: repeat(4, calc(25% - 26.6667px));
	min-height: 320px;
	grid-auto-columns: calc(25% - 26.6667px);
	grid-gap: 40px;
}

.u-section-2 .u-list-item-1 {
	background-image: none;
}

.u-section-2 .u-container-layout-1 {
	padding: 0 10px 10px 10px;
}

.u-section-2 .u-image-1 {
	width: 150px;
	height: 150px;
	background-image: url("../images/Murali_Subramanian.jpg");
	background-position: 50% 50%;
	margin: -75px auto 0;
}

.u-section-2 .u-text-1 {
	font-weight: 700;
	margin: 23px 9px 0;
	color: #006AA5;
	font-size: 12px;
}

.u-section-2 .u-text-2 {
	font-size: 20px;
	font-weight: 700;
	text-transform: none;
	margin: 0px 9px 0;
}

.u-section-2 .u-text-3 {
	font-weight: 300;
	font-style: normal;
	margin: 15px 9px 0;
	color: #6A6A6A;
	font-size: 12px;
	text-align: justify;
}

.u-section-2 .u-social-icons-1 {
	white-space: nowrap;
	height: 20px;
	min-height: 20px;
	width: 20px;
	min-width: 110px;
	margin: 20px auto 0;
}

.u-section-2 .u-icon-1 {
	height: 100%;
}

.u-section-2 .u-icon-2 {
	height: 100%;
}

.u-section-2 .u-icon-3 {
	height: 100%;
}

.u-section-2 .u-icon-4 {
	height: 100%;
}

.u-section-2 .u-container-layout-2 {
	padding: 0 10px;
}

.u-section-2 .u-image-2 {
	width: 150px;
	height: 150px;
	background-image: url("../images/shyam.png");
	background-position: 50% 50%;
	margin: -75px auto 0;
}

.u-section-2 .u-text-4 {
	font-weight: 700;
	margin: 23px 9px 0;
	color: #006AA5;
	font-size: 12px;
}

.u-section-2 .u-text-5 {
	font-size: 20px;
	font-weight: 700;
	text-transform: none;
	margin: 0px 9px 0;
}

.u-section-2 .u-text-6 {
	font-weight: 300;
	font-style: normal;
	margin: 15px 9px 0;
	color: #6A6A6A;
	font-size: 12px;
	text-align: justify;
}

.u-section-2 .u-social-icons-2 {
	white-space: nowrap;
	height: 20px;
	min-height: 20px;
	width: 20px;
	min-width: 110px;
	margin: 20px auto 0;
}

.u-section-2 .u-icon-5 {
	height: 100%;
}

.u-section-2 .u-icon-6 {
	height: 100%;
}

.u-section-2 .u-icon-7 {
	height: 100%;
}

.u-section-2 .u-icon-8 {
	height: 100%;
}

.u-section-2 .u-list-item-3 {
	background-image: none;
}

.u-section-2 .u-container-layout-3 {
	padding: 0 10px;
}

.u-section-2 .u-image-3 {
	width: 150px;
	height: 150px;
	object-position: 50% 18.34%;
	background-image: url("../images/Rajgopalan_Srinivasan.jpg");
	background-position: 50% 50%;
	margin: -75px auto 0;
}

.u-section-2 .u-text-7 {
	font-weight: 700;
	margin: 23px 9px 0;
	color: #006AA5;
	font-size: 12px;
}

.u-section-2 .u-text-8 {
	font-size: 20px;
	font-weight: 700;
	text-transform: none;
	margin: 0px 9px 0;
}

.u-section-2 .u-text-9 {
	font-weight: 300;
	font-style: normal;
	margin: 15px 9px 0;
	color: #6A6A6A;
	font-size: 12px;
	text-align: justify;
}

.u-section-2 .u-social-icons-3 {
	white-space: nowrap;
	height: 20px;
	min-height: 20px;
	width: 20px;
	min-width: 110px;
	margin: 20px auto 0;
}

.u-section-2 .u-icon-9 {
	height: 100%;
}

.u-section-2 .u-icon-10 {
	height: 100%;
}

.u-section-2 .u-icon-11 {
	height: 100%;
}

.u-section-2 .u-icon-12 {
	height: 100%;
}

.u-section-2 .u-list-item-4 {
	background-image: none;
}

.u-section-2 .u-container-layout-4 {
	padding: 0 10px;
}

.u-section-2 .u-image-4 {
	width: 150px;
	height: 150px;
	object-position: 50% 18.34%;
	background-image: url("../images/Chetan_Jain.jpg");
	background-position: 50% 50%;
	margin: -75px auto 0;
}

.u-section-2 .u-text-10 {
	font-weight: 700;
	margin: 23px 9px 0;
	color: #006AA5;
	font-size: 12px;
}

.u-section-2 .u-text-11 {
	font-size: 20px;
	font-weight: 700;
	text-transform: none;
	margin: 0px 9px 0;
}

.u-section-2 .u-text-12 {
	font-weight: 300;
	font-style: normal;
	color: #6A6A6A;
	font-size: 12px;
	margin: 15px 9px 0;
	text-align: justify;
}

.u-section-2 .u-social-icons-4 {
	white-space: nowrap;
	height: 20px;
	min-height: 20px;
	width: 20px;
	min-width: 110px;
	margin: 20px auto 0;
}

.u-section-2 .u-icon-13 {
	height: 100%;
}

.u-section-2 .u-icon-14 {
	height: 100%;
}

.u-section-2 .u-icon-15 {
	height: 100%;
}

.u-section-2 .u-icon-16 {
	height: 100%;
}
p.u-text {
    font-size: 14px !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    -webkit-box-orient: vertical;
    text-align: unset !important;
}

@media (max-width: 1199px) {
	.u-section-2 .u-sheet-1 {
		min-height: 689px;
	}

	.u-section-2 .u-list-1 {
		width: 940px;
		margin-bottom: -11px;
	}

	.u-section-2 .u-repeater-1 {
		grid-template-columns: repeat(3, calc(33.333333333333336% - 26.666700000000002px));
		min-height: 330px;
		grid-auto-columns: calc(33.333333333333336% - 26.666700000000002px);
	}

	.u-section-2 .u-container-layout-1 {
		padding-left: 19px;
		padding-right: 19px;
		padding-bottom: 20px;
	}

	.u-section-2 .u-image-1 {
		width: 247px;
		height: 247px;
	}

	.u-section-2 .u-text-1 {
		width: auto;
		margin-top: 20px;
		margin-right: 3px;
		margin-left: 0;
	}

	.u-section-2 .u-text-2 {
		width: auto;
		margin-right: 3px;
		margin-left: 0;
	}

	.u-section-2 .u-text-3 {
		width: auto;
		margin-right: 3px;
		margin-left: 0;
	}

	.u-section-2 .u-social-icons-1 {
		margin-left: 55px;
	}

	.u-section-2 .u-container-layout-2 {
		padding-left: 19px;
		padding-right: 19px;
		padding-bottom: 20px;
	}

	.u-section-2 .u-image-2 {
		width: 247px;
		height: 247px;
	}

	.u-section-2 .u-text-4 {
		width: auto;
		margin-top: 20px;
		margin-right: 3px;
		margin-left: 0;
	}

	.u-section-2 .u-text-5 {
		width: auto;
		margin-right: 3px;
		margin-left: 0;
	}

	.u-section-2 .u-text-6 {
		width: auto;
		margin-right: 3px;
		margin-left: 0;
	}

	.u-section-2 .u-social-icons-2 {
		margin-left: 55px;
	}

	.u-section-2 .u-container-layout-3 {
		padding-left: 19px;
		padding-right: 19px;
		padding-bottom: 20px;
	}

	.u-section-2 .u-image-3 {
		width: 247px;
		height: 247px;
	}

	.u-section-2 .u-text-7 {
		width: auto;
		margin-top: 20px;
		margin-right: 3px;
		margin-left: 0;
	}

	.u-section-2 .u-text-8 {
		width: auto;
		margin-right: 3px;
		margin-left: 0;
	}

	.u-section-2 .u-text-9 {
		width: auto;
		margin-right: 3px;
		margin-left: 0;
	}

	.u-section-2 .u-social-icons-3 {
		margin-left: 55px;
	}
}

@media (max-width: 991px) {
	.u-section-2 .u-sheet-1 {
		min-height: 780px;
	}

	.u-section-2 .u-list-1 {
		width: 720px;
		margin-bottom: 80px;
	}

	.u-section-2 .u-repeater-1 {
		grid-template-columns: repeat(2, calc(50% - 20.000025px));
		min-height: 965px;
		grid-auto-columns: calc(50% - 20.000025px);
	}

	.u-section-2 .u-text-1 {
		margin-right: 0;
	}

	.u-section-2 .u-text-2 {
		margin-right: 0;
	}

	.u-section-2 .u-text-3 {
		margin-right: 0;
	}

	.u-section-2 .u-text-4 {
		margin-right: 0;
	}

	.u-section-2 .u-text-5 {
		margin-right: 0;
	}

	.u-section-2 .u-text-6 {
		margin-right: 0;
	}

	.u-section-2 .u-text-7 {
		margin-right: 0;
	}

	.u-section-2 .u-text-8 {
		margin-right: 0;
	}

	.u-section-2 .u-text-9 {
		margin-right: 0;
	}

	.u-section-2 .u-text-10 {
		margin-right: 0;
	}

	.u-section-2 .u-text-11 {
		margin-right: 0;
	}

	.u-section-2 .u-text-12 {
		margin-right: 0;
	}

}

@media (max-width: 767px) {
	.u-section-2 .u-sheet-1 {
		min-height: 1537px;
	}

	.u-section-2 .u-list-1 {
		margin-bottom: 35px;
		margin-right: initial;
		margin-left: initial;
		width: auto;
	}

	.u-section-2 .u-repeater-1 {
		grid-template-columns: 100%;
		min-height: 1352px;
		grid-auto-columns: calc(100% - 0px);
	}

	.u-section-2 .u-container-layout-1 {
		padding-left: 10px;
		padding-right: 10px;
	}

	.u-section-2 .u-social-icons-1 {
		margin-left: auto;
	}

	.u-section-2 .u-container-layout-2 {
		padding-left: 10px;
		padding-right: 10px;
	}

	.u-section-2 .u-social-icons-2 {
		margin-left: auto;
	}

	.u-section-2 .u-container-layout-3 {
		padding-left: 10px;
		padding-right: 10px;
	}

	.u-section-2 .u-social-icons-3 {
		margin-left: auto;
	}
}

@media (max-width: 575px) {
	.u-section-2 .u-sheet-1 {
		min-height: 1567px;
	}

	.u-section-2 .u-list-1 {
		margin-bottom: 0;
		width: auto;
		margin-right: initial;
		margin-left: initial;
	}

	.u-section-2 .u-repeater-1 {
		min-height: 1445px;
		grid-auto-columns: 100%;
	}
}

/*-------------- Team Innovacx End Here ------*/