.InnoHeaderNav{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    color: #bfb9b9;
}
.InnoHeaderNav li {
    margin-left: 20px;
    text-decoration: none;
    list-style-type: none;
    width: auto;
}
