.LeftMenuContainer {
    background: #000;
    padding-top: 10%;
    padding-bottom: 10%;
}
.InnoLeftMenu {
    width: 20%;
    display: inline-block;
}
.InnoLeftMenu ul {
    margin: 0px;
    padding: 0px 0px 0px 26%;
}
.InnoLeftMenu ul li {
    list-style-type: none;
    border-left: 2px solid #fff;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.InnoLeftMenu ul li a {
    color: #838383;
    text-decoration: none;
}
.InnoLeftMenu ul li a:hover {
    color: #fff;
}
.InnovRightData {
    width: 80%;
    display: inline-block;
}