.HeaderBg {
    background-color: #000;
    padding: 10px 0px;
}
.TopNavBar ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    color: #bfb9b9;
}
.TopNavBar ul li {
    list-style-type: none;
    width: auto;
    margin-left: 40px;
}
.TopNavBar ul li a {
    color: #bfb9b9;
    text-decoration: none;
    padding-left: 5px;
    font-size: 12px;
    border-left: 1px solid #000;
}
.TopNavBar ul li a:hover {
    border-left: 1px solid #5ec4b7;
    color: #5ec4b7;
}
.InnoLogoWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-responsive {
    max-width: 200px;
}
.InnoNavAlign {
    display: flex;
    align-items: center;
}
.search-container >input:focus {
    color: #fff;
}
.InnoSeparateLine {
    border-bottom: 1px solid #323232;
}