@font-face {
    font-family: Poppins-Light;
    src: url('./Poppins-Light.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: Poppins-Regular;
    src: url('./Poppins-Regular.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('./Poppins-SemiBold.ttf') format('truetype');
  }