.search-container {
    margin-left: 30px;
}
.search-container::before {
    content: url('E:/React_app/project3/innovacx_site/public/images/search_icon.png');
    position: absolute;
    padding-top: 9px;
    padding-left: 5px;
    z-index: 9;
}
.search-container >input {
    padding-left: 30px;
    background-color: #252424;
    border-radius: 6px;
    height: 37px;
    border: 1px solid #3c3b3b;
}