body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Poppins-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
html {
  font-family: 'Poppins-Regular';
  font-size: 14px;
}
* {
  font-family: 'Poppins-Regular';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url('./fonts/Poppins-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}
